.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border-radius: 1%;
    background-color: var(--page-background-color);
}

.previewRegistration {
    margin-bottom: 2rem;
    color: white;
    user-select: none;
}
